body {
    background-color: #F3CD05;
}

.container {
    height: 100px;
    width: 100%;
    margin: 35vh auto;
    background-color:  #F49F05;
    
}

#display {
    width: 100%;
    font-size: 75px;
    text-align: center;
    margin: 0px auto;
}

.buttons {
    text-align: center;
    margin: 35px;
    
   
    
    
}    

#startStop {
    background-color:  #36688D;
    border-radius: 7px;
    border: none;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 16px;
    font-family: arial;
    
}

#Reset {
    background-color: #BDA589;
    border-radius: 7px;
    border: none;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 16px;
    font-family: arial;
}
